@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap');

/* font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif; */

/* Clear Declaration */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}
.wrapper {
    width: 100%;
    margin: auto;
    /* border: 2px solid red; */
}
.nav {
    overflow: auto;
    width: 85%;
    margin: 1em auto;
    /* border: 3px solid blue; */
}
.nav h1 {
    text-transform: uppercase;
    width: 50%;
    float: left;
    /* border: 3px solid blueviolet; */
}
.nav h1 a {
    font-family: 'Oswald', sans-serif;
    color: #96746b;
    text-decoration: none;
}
.nav ul li {
    display: inline-block;
    margin-left: 1em;
    /* border: 3px solid blueviolet; */
}
.nav ul a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #312a31;
    text-decoration: none;
}
.banner {
     background-image: url(../images/banner-bg.jpg);
     background-size: cover;
     background-position: center;
     position: relative;
    width: 100%;
    height: 670px;
}
.banner-text {
    /* border: 2px solid red; */
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: translateY(-50%);
    width: 45%;
    /* color: white; */
}
.banner-text h2 {
    color: #c7a17a;
    font-size: 4em;
    text-transform: uppercase;
}
.banner-text h2 span {
    color: #96746b;
}
.banner-text p {
    color: #ffff;
}
.banner-text a {
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    background-color: #312a31;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 1em;
}
/* (3) Ads Area */
.ads{
    width: 85%;
    margin: 4em auto;
    overflow: auto;
    /* border: 3px solid green; */
}
.ads-items {
    /* border: 3px solid blue; */
    width: 48.5%;
    height: 350px;
    float: left;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 3%;
}
/* assigment */
.ads-item1 {
    background-image: url(../images/ads-img1.jpg);
    background-size: cover;
    background-position: center;
    /* float: left; */
    margin-right: 3%;
    height: 400px; 
}
.ads-item2 {
    background-image: url(../images/ads-img2.jpg);
    background-size: cover;
    background-position: center;
    /* float: right; */
    height: 400px; 
}
.ads-item3 {
    background-image: url(../images/ads-img3.jpg);
    background-size: cover;
    background-position: center;
    height: 400px; 
    margin-right: 3%;
}
.ads-item4 {
    background-image: url(../images/ads-img4.jpg);
    background-size: cover;
    background-position: center;
    height: 400px; 
}
.ads-item5 {
    background-image: url(../images/ads-img5.jpg);
    background-size: cover;
    background-position: center;
    height: 400px; 
    margin-right: 3%;
}
.ads-item6 {
    background-image: url(../images/ads-img6.jpg);
    background-size: cover;
    background-position: center;
    height: 400px; 
}
.ads-text {
    position: absolute;
    top: 30%;
    left: 10%;
    /* transform: translateY(); */
    width: 40%;
    /* border: 2px solid red; */
}
.ads-text h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.2em;
    text-shadow: 3px 3px 6px #312a26;
    /* border: 2px solid red; */
}
.ads-text a {
    display: block;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1em;
    text-shadow: 3px 3px 5px #312a26;
    /* border: 2px solid red; */
}
/* (4) Merchandise Area */
.merch {
    width: 85%;
    margin: 4em auto;
}
.section-header {
    text-align: center;
}
.section-header span {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #c7a17a;
}
.section-header h2 {
    text-transform: uppercase;
    color: #312a26;
}
.section-header hr {
    background-color: #c7a17a;
    height: 2px;
    width: 25%;
    margin: auto;
}
.merch-gallery {
    margin-top: 2em;
    overflow: auto;
}
.merch-items {
    width: 24.25%;
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
}
.merch-items:nth-child(4),
.merch-items:nth-child(8){
    margin-right: 0;
}
.merch-items img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
/* discount area */
.discount {
    width: 85%;
    margin: 4em auto;
    background-image: url(../images/discount-img.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 350px;
}
.discount-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.discount-text span {
    text-transform: capitalize;
    color: #fff;
    display: block; 
    text-align: center; 
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    
}
.discount-text h2 {
    text-transform: uppercase;
    color: #fff;
    font-size: 2em;
    text-shadow: 3px 3px 5px #312a26;
}
.discount-text a {
    /* text-transform: capitalize; */
    text-decoration: none;
    color: #312a26;
    display: inline-block;
    text-align: center; 
    padding: 1em;
    background-color: rgba(255, 255, 255, .5);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 1em;
    position: relative;
    /* left: 4em; */
    left: 8em;
}
/* () reservation area */
.reservation {
    width: 85%;
    margin: 4em auto;
    /* border: 3px solid green; */
}
form {
    overflow: auto;
}
.form-group {
    /* border: 3px solid red; */
    margin-top: 2em;
    background-color: #f2f2f2;
    float: left;
    width: 49.5%;
    border-radius: 5px;
    padding: 2em;
    height: 650px;
}
.form-group:nth-child(1) {
    margin-right: 1%;
}
form input,
form label,
form select,
form textarea {
    display: inline-block;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    margin-bottom: 1em;
}
form label {
    font-weight: 700;
    padding: 0;
    margin-bottom: .5em;
}
.res-time {
    text-align: center;
}
.res-time * {
    width: auto;
}
form p {
    margin: 1em;
    text-align: center;
    font-weight: 700;
}
form h3 {
    text-align: center;
    text-transform: uppercase;
}
form h3::after {
    content: "";
    background-image: url(../images/reservation-cards.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 150px;
    height: 30px;
    margin: auto;
}
.res-agreement * {
    width: auto;
}
form input[type="submit"] {
    background-color: #c7a17a;
    font-weight: 700;
    text-transform: uppercase;
}
/* (9) Footer Area */


   